// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <winres.h>
#include <commctrl.h>

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG_CONNECT DIALOGEX 0, 0, 188, 64
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Connect to Server"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Server's name or IP:",IDC_STATIC,7,7,95,11
    EDITTEXT        IDC_EDIT_SERVER,7,21,174,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,77,43,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,131,43,50,14
END

IDD_DIALOG_CREATE_SERVER DIALOGEX 0, 0, 156, 82
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Create Server"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,43,61,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,99,61,50,14
    LTEXT           "What is your color?",IDC_STATIC,7,7,142,13
    CONTROL         "White",IDC_RADIO_WHITE,"Button",BS_AUTORADIOBUTTON,7,24,92,11
    CONTROL         "Black",IDC_RADIO_BLACK,"Button",BS_AUTORADIOBUTTON,7,40,92,11
END

IDD_DIALOG_PROMOTION DIALOGEX 0, 0, 139, 127
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Promotion"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Choose a piece:",IDC_STATIC,7,7,102,13
    LISTBOX         IDC_LIST_FIGURES,7,22,125,78,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,28,106,50,14,WS_DISABLED
    PUSHBUTTON      "Cancel",IDCANCEL,82,106,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO 
BEGIN
    IDD_DIALOG_CONNECT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 181
        TOPMARGIN, 7
        BOTTOMMARGIN, 57
    END

    IDD_DIALOG_CREATE_SERVER, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 149
        TOPMARGIN, 7
        BOTTOMMARGIN, 75
    END

    IDD_DIALOG_PROMOTION, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 132
        TOPMARGIN, 7
        BOTTOMMARGIN, 120
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU_MAIN MENU 
BEGIN
    POPUP "Play"
    BEGIN
        MENUITEM "Create Server...",           MID_CREATE_SERVER
        MENUITEM "Connect to Server...",      MID_CONNECT_GAME
        MENUITEM "Play with yourself",          MID_BEGIN_GAME_SELF
        MENUITEM "Exit",                       MID_EXIT
    END
    POPUP "Help"
    BEGIN
        MENUITEM "About...",              MID_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE 
BEGIN
    IDS_MAIN_TITLE          "Soft 3D Chess"
    IDS_TITLE_DUAL_CORE     "Soft 3D Chess (Dual Core, FPS = %.3lf)"
    IDS_TITLE_SINGLE_CORE   "Soft 3D Chess (Single Core, FPS = %.3lf)"
    IDS_TITLE_QUAD_CORE     "Soft 3D Chess (Quad Core, FPS = %.3lf)"
    IDS_TITLE_MULTI_CORE    "Soft 3D Chess (Multi Core, FPS = %.3lf)"
    IDS_ACCEPT_SUCCEEDED    "Player accepted."
    IDS_ACCEPT_FAILED       "Player accept failed."
    IDS_CONNECT_SUCCEEDED   "We are connected."
    IDS_CONNECT_FAILED      "Connect failed."
    IDS_GAME_BEGINS         "The game begins :)"
    IDS_ERROR               "Error :("
END

STRINGTABLE 
BEGIN
    IDS_CHECKMATE_FOR_ME    "You lost! You're checkmated."
    IDS_CHECKMATE_FOR_HIM   "You won! You forced a checkmate."
    IDS_STALEMATE           "Draw! Stalemate."
    IDS_GAME_OVER           "Game is over"
    IDS_ABOUT               "Soft 3D Chess\n       Graphics Coursework\n\nAuthor:\n       Alexander Bich"
    IDS_ABOUT_TITLE         "About"
    IDS_PROMOTION_FIGURES   "Queen\tKnight\tRook\tBishop"
    IDS_DRAW                "Draw! There are only kings."
END

